#!/bin/bash -u

export CPP_STANDARD="20"
export CLANG_VERSION="20"
export LLVM_HOME="/usr/lib/llvm-${CLANG_VERSION}"
export CC="${LLVM_HOME}/bin/clang"
export CXX="${LLVM_HOME}/bin/clang++"

# https://github.com/emil-e/rapidcheck/blob/master/doc/configuration.md
export RC_PARAMS="max_size=100 max_success=100"

export CTEST_OUTPUT_ON_FAILURE=1

